<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/bootstrap")
</head>
<body>
    <div>
        @*<div class="jumbotron">
            <h1>การเริ่มต้นเรียน Bootstrap</h1>
        </div>
        <div class="navbar-text"><span>Home</span> <span>Index</span></div>*@
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
