<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/bootstrap")
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts",required:false)
</body>
</html>
